body {background: #FFF0F5; 
      font: bold 14pt Helvetica, Arial, sans-serif;
      text-align: left;
      color: #333333;
      padding: 0pt;
      margin:0pt
     }

.content {padding: 0.25em;
        
       }


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: black;
  text-align: center;
       }

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

