body {background: #dda0dd; 
      font: bold 18pt Helvetica, Arial, sans-serif;
      text-align: left;
      color: #333333;
      padding: 0pt;
      margin:0pt
     }

.content {padding: 0.25em;
        
       }



