h1 {background: #654321;
    color: white;
    
}


body {background: #98ff98;
      font-family:"Andale Mono", monospace;
      color: #333333;
      border: none;
      margin: 0pt;
      padding: 0pt;
     }

.content {padding: 1em;}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

